body {
  font-family: "Poppins", sans-serif;
}

.admin .sidebar {
  width: 235px;
  box-shadow: 1px 0px 10px #eee;
  min-height: 100vh;
  z-index: 5;
  transition: all 300ms ease-in-out;
}
.admin .sidebar .logo-container {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 32px;
  width: 100%;
  transition: all 500ms ease-in-out;
}
.admin .sidebar .logo-container .company-logos {
  width: 80%;
}
.admin .sidebar .logo-container .company-logos-minimize {
  display: none;
}
.admin .sidebar .menu-container {
  padding-left: 16px;
}
.admin .sidebar .menu-container ul {
  padding-left: 0;
}
.admin .sidebar .menu-container ul li {
  all: unset;
}
.admin .sidebar .menu-container .tooltiptext {
  display: none;
}
.admin .sidebar .menu-container .menu {
  all: unset;
  cursor: pointer;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  padding: 10px;
  border-radius: 50px 0 0 50px;
  font-size: 1rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.admin .sidebar .menu-container .menu.multiple {
  justify-content: space-between;
}
.admin .sidebar .menu-container .menu span {
  margin-right: 8px;
  font-size: 1.1rem;
}
.admin .sidebar .menu-container .menu span.text-menu {
  font-size: 0.8rem;
}
.admin .sidebar .menu-container .menu.active {
  background-color: #fc541c;
  color: white;
}
.admin .sidebar .menu-container .menu:hover {
  background-color: #ffcebe;
}
.admin .sidebar .footer {
  font-size: 0.8rem;
  margin-top: 50px;
}
.admin .sidebar .footer p {
  text-align: center;
  margin-bottom: 0;
}
.admin .sidebar .footer .top {
  color: gray;
}
.admin .sidebar .footer .bot {
  color: #fc541c;
  font-weight: bold;
}
.admin .gen-body {
  width: 100%;
  overflow: hidden;
}
.admin .gen-body .bottombar {
  display: none;
}
.admin .gen-body .gen-nav {
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 5px #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin .gen-body .gen-nav .start {
  display: flex;
  align-items: center;
}
.admin .gen-body .gen-nav .start .nav-button {
  all: unset;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: gray;
  padding: 5px;
  background: white;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.admin .gen-body .gen-nav .start .nav-button .iconfwd {
  display: none;
}
.admin .gen-body .gen-nav .start .nav-button .iconback {
  display: block;
}
.admin .gen-body .gen-nav .start .nav-button:hover {
  background: #ffcebe;
  color: black;
}
.admin .gen-body .gen-nav .end {
  display: flex;
  align-items: center;
  gap: 8px;
}
.admin .gen-body .gen-nav .end .iconbtn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: gray;
  padding: 5px;
  background: white;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  position: relative;
}
.admin .gen-body .gen-nav .end .iconbtn .badges {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed2a3a;
}
.admin .gen-body .gen-nav .end .iconbtn:hover {
  background: #ffcebe;
  color: black;
}
.admin .gen-body .gen-nav .end .profile-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  padding: 5px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.admin .gen-body .gen-nav .end .profile-button:hover {
  background-color: #efefef;
}
.admin .gen-body .gen-nav .end .profile-button .content {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.admin .gen-body .gen-nav .end .profile-button .content .dropdown-menu {
  padding: 8px;
  font-size: 0.8rem;
}
.admin .gen-body .gen-nav .end .profile-button .content .dropdown-menu .user {
  border-radius: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.admin .gen-body .gen-nav .end .profile-button .content .dropdown-menu .email {
  color: gray;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 0.7rem;
}
.admin .gen-body .gen-nav .end .profile-button .content .dropdown-menu hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.admin .gen-body .gen-nav .end .profile-button .content .dropdown-menu .logout {
  all: unset;
  cursor: pointer;
  display: block;
  color: #fc541c;
  border-radius: 0;
  transition: all 300ms ease-in-out;
}
.admin .gen-body .gen-nav .end .profile-button .content .dropdown-menu .logout:hover {
  background-color: #efefef;
  padding: 5px;
}
.admin .gen-body .gen-nav .end .profile-button .content a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.admin .gen-body .gen-nav .end .profile-button .content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.admin .gen-body .gen-nav .dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 1px 0px 10px #eee;
}
.admin .gen-body .gen-nav .menudropdown hr {
  color: #ddd;
  margin: 0;
}
.admin .gen-body .gen-nav .menudropdown.notif {
  width: 400px;
}
.admin .gen-body .gen-nav .menudropdown.notif .title-container {
  padding: 16px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin .gen-body .gen-nav .menudropdown.notif .title-container .title {
  all: unset;
  margin-bottom: 0;
}
.admin .gen-body .gen-nav .menudropdown.notif .title-container .action {
  all: unset;
  font-weight: bold;
  color: #fc541c;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.admin .gen-body .gen-nav .menudropdown.notif .title-container .action:hover {
  font-weight: 400;
}
.admin .gen-body .gen-nav .menudropdown.notif .notif-container .notif-item {
  padding: 16px;
  display: flex;
}
.admin .gen-body .gen-nav .menudropdown.notif .notif-container .notif-item.unread {
  background-color: #f2f6fc;
}
.admin .gen-body .gen-nav .menudropdown.notif .notif-container .notif-item .avatar {
  flex-shrink: 0;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.admin .gen-body .gen-nav .menudropdown.notif .notif-container .notif-item .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.admin .gen-body .gen-nav .menudropdown.notif .notif-container .notif-item .content-container .title-content {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 4px;
}
.admin .gen-body .gen-nav .menudropdown.notif .notif-container .notif-item .content-container .body-content {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 0;
}
.admin .gen-body .gen-nav .menudropdown.notif .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.admin .gen-body .gen-nav .menudropdown.notif .footer-container a {
  all: unset;
  cursor: pointer;
  font-size: 0.8rem;
  color: #642aed;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}
.admin .gen-body .gen-nav .menudropdown.notif .footer-container a:hover {
  font-weight: 400;
}
.admin .gen-body .gen-content {
  background-color: #eff2f4;
  min-height: 100%;
}
.admin .gen-body .gen-content .dashboard {
  padding: 16px;
}
.admin .gen-body .gen-content .dashboard .status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  gap: 20px;
  flex-wrap: wrap;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status {
  all: unset;
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #eee;
  padding: 16px;
  flex: 1;
  min-width: 300px;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .stat p {
  margin-bottom: 0;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .stat .title {
  color: gray;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .stat .val {
  color: #fc541c;
  font-size: 1.2rem;
  font-weight: bold;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .report p {
  margin-bottom: 0;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .report p span {
  font-weight: bold;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .report p span.up {
  color: green;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .content .report p span.down {
  color: #fc541c;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc541c;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status .icon-container span {
  color: white;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color1 .content .val {
  color: #ff8f8f;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color1 .icon-container {
  background-color: #ff8f8f;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color2 .content .val {
  color: #f3b664;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color2 .icon-container {
  background-color: #f3b664;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color3 .content .val {
  color: #9ade7b;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color3 .icon-container {
  background-color: #9ade7b;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color4 .content .val {
  color: #508d69;
}
.admin .gen-body .gen-content .dashboard .status-container .card-status.color4 .icon-container {
  background-color: #508d69;
}
.admin .gen-body .gen-content .dashboard .status-container.icon-circle .card-status .icon-container {
  border-radius: 50%;
}
.admin .gen-body .gen-content .dashboard .status-container a {
  all: unset;
  cursor: pointer;
  font-size: 0.8rem;
  color: #642aed;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}
.admin .gen-body .gen-content .dashboard .status-container a:hover {
  font-weight: 400;
}
.admin .gen-body .gen-content .dashboard .menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.admin .gen-body .gen-content .dashboard .menu-container .menu {
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #eee;
  padding: 16px;
  flex: 1;
}
.admin .gen-body .gen-content .dashboard .menu-container .menu .title-container {
  display: flex;
  justify-content: space-between;
}
.admin .gen-body .gen-content .dashboard .menu-container .menu .title-container .title {
  font-weight: bold;
  color: #fc541c;
}
.admin .gen-body .gen-content .dashboard .menu-container .menu .title-container .action {
  all: unset;
  display: flex;
  background-color: #ffcebe;
  color: #fc541c;
  padding: 3px 20px;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.admin.minimize .sidebar {
  width: 70px;
}
.admin.minimize .sidebar .logo-container {
  display: flex;
  justify-content: center;
}
.admin.minimize .sidebar .logo-container .company-logos {
  display: none;
}
.admin.minimize .sidebar .logo-container .company-logos-minimize {
  width: 80%;
  display: block;
  height: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.admin.minimize .sidebar .menu-container .tooltip {
  margin-right: 16px;
  position: relative;
  transition: all 300ms ease-in-out;
}
.admin.minimize .sidebar .menu-container .tooltip .tooltiptext {
  display: none;
  white-space: nowrap;
  background-color: #ffcebe;
  color: black;
  text-align: center;
  border-radius: 0 50px 50px 0;
  padding: 5px 0;
  padding-right: 16px;
  padding-left: 16px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.admin.minimize .sidebar .menu-container .tooltip.hovering {
  margin-right: 3px;
  border-radius: 50px 0 0 50px !important;
}
.admin.minimize .sidebar .menu-container .tooltip.hovering .tooltiptext {
  display: block;
  position: absolute;
  left: 50px;
}
.admin.minimize .sidebar .menu-container .menu {
  border-radius: 50px;
}
.admin.minimize .sidebar .menu-container .menu .text-menu {
  display: none;
}
.admin.minimize .sidebar .menu-container .menu .iconbtn {
  display: none;
}
.admin.minimize .sidebar .footer {
  display: none !important;
}
.admin.minimize .gen-nav .start .nav-button .iconfwd {
  display: block;
}
.admin.minimize .gen-nav .start .nav-button .iconback {
  display: none;
}
.admin .portfolio-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.admin .portfolio-container .portfolio {
  all: unset;
  display: flex;
  gap: 10px;
}
.admin .portfolio-container .portfolio img {
  width: 30px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center top;
     object-position: center top;
}
.admin .portfolio-container .portfolio .isi {
  display: flex;
  flex-direction: column;
}
.admin .portfolio-container .portfolio .isi .nama {
  font-size: 1.1;
  color: grey;
  margin-bottom: 0;
}
.admin .portfolio-container .portfolio .isi .jumlah {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}
.admin .page-item.active .page-link {
  color: white !important;
  background-color: #fc541c !important;
  border-color: #fc541c !important;
}
.admin div.dataTables_wrapper div.dataTables_filter {
  text-align: end;
}
.admin div.dataTables_wrapper div.dataTables_filter label {
  text-align: start;
}
.admin .dataTables_paginate.paging_simple_numbers {
  display: flex;
  flex-direction: row-reverse;
}
.admin .pagination {
  --bs-pagination-padding-x: 0.7rem;
  --bs-pagination-padding-y: 0.275rem;
  --bs-pagination-font-size: 0.8rem;
  --bs-pagination-color: black;
  --bs-pagination-hover-color: $primary-color;
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-active-bg: $primary-color;
}
.admin .pill-bg {
  padding: 3px 10px;
  border-radius: 50px;
}
.admin .pill-bg.tersedia {
  color: white;
  background-color: #508d69;
}
.admin .pill-bg.akandisewa {
  color: white;
  background-color: #f3b664;
}
.admin .pill-bg.disewa {
  color: white;
  background-color: #ff8f8f;
}
.admin .btn-primary-sm {
  all: unset;
  cursor: pointer;
  background-color: #fc541c;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  transition: all 300ms ease-in-out;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin .btn-primary-sm:hover {
  background-color: #1dbde9;
}
.admin .btn-warning-sm {
  all: unset;
  cursor: pointer;
  background-color: #f3b664;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  transition: all 300ms ease-in-out;
  font-weight: bold;
}
.admin .btn-warning-sm:hover {
  background-color: #e9971d;
}
.admin .btn-danger-sm {
  all: unset;
  cursor: pointer;
  background-color: #ed7878;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  transition: all 300ms ease-in-out;
  font-weight: bold;
}
.admin .btn-danger-sm:hover {
  background-color: #f34d4d;
}
.admin .breadcrumb-item a {
  all: unset !important;
  color: gray;
  cursor: pointer !important;
}
.admin .breadcrumb-item.active {
  color: #fc541c !important;
}
.admin table td {
  font-size: 0.8rem;
}
.admin .maxlines {
  display: block;
  text-overflow: ellipsis; /* will make [...] at the end */
  width: 200px; /* change to your preferences */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
}

.bg-login {
  background: hsl(217, 100%, 50%);
  background: radial-gradient(circle, rgb(128, 176, 255) 0%, rgb(218, 251, 255) 100%);
  background: -webkit-radial-gradient(circle, rgb(153, 192, 255) 0%, rgb(203, 250, 255) 100%);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.panel-login {
  padding: 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 450px;
  position: relative; /* or absolute */
  display: flex;
  width: 900px;
  height: 600px;
}
.panel-login .gambar {
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
}
.panel-login .gambar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.panel-login .login-container {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panel-login .login-container .logo-login {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}
.panel-login .login-container .logo-login img {
  height: 5em;
}

input.form-control.login {
  display: block;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-login {
  all: unset;
  transition: all 0.5s;
  display: flex;
  text-align: center;
  border: none;
  background-color: #ff6347;
  color: white;
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.btn-login.flex {
  display: flex;
}
.btn-login.sml {
  padding: 3px 10px;
  font-size: 0.8rem;
}

.bt-primary {
  all: unset;
  transition: all 0.5s;
  display: block;
  background-color: #fc541c;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}
.bt-primary.full {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.bt-primary.sml {
  padding: 3px 10px;
  font-size: 0.8rem;
}

.panel-peta {
  display: flex;
}
.panel-peta .maps {
  position: relative;
  padding: 10px;
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}
.panel-peta .street {
  position: relative;
  padding: 10px;
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

.panel-gambar {
  height: 600px;
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.panel-gambar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-titik {
  font-size: 0.8rem;
  color: gray;
}
.info-titik .title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.label-input {
  font-size: 0.8rem;
}

.dz-image img {
  width: 100%;
  height: 100%;
}

.dropzone.dz-started .dz-message {
  display: block !important;
}

.dropzone {
  border: 2px dashed #028af4 !important;
}

.dropzone .dz-preview.dz-complete .dz-success-mark {
  opacity: 1;
}

.dropzone .dz-preview.dz-error .dz-success-mark {
  opacity: 0;
}

.dropzone .dz-preview .dz-error-message {
  top: 144px;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  border-radius: 50px !important;
  background-color: rgba(0, 183, 255, 0.3647058824) !important;
  font-size: 0.8rem !important;
  flex-direction: row-reverse !important;
  gap: 10px !important;
}

@media only screen and (max-width: 580px) {
  .admin .sidebar {
    display: none;
  }
  .admin .gen-body .gen-nav .start .nav-button {
    display: none;
  }
  .admin .gen-body .bottombar {
    position: fixed !important;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
  }
  .admin .gen-body .bottombar .nav-button {
    all: unset;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .admin .gen-body .bottombar .nav-button.active {
    color: #fc541c;
    font-weight: bold;
  }
  .admin .gen-body .bottombar .nav-button .text-menu {
    font-size: 0.8rem;
    text-wrap: nowrap;
  }
  .admin .bottom-mobile {
    height: 100px;
  }
  .admin .portfolio-container {
    justify-content: center !important;
    gap: 50px;
  }
  .admin .admin div.dataTables_wrapper div.dataTables_filter {
    text-align: end;
    width: 100%;
  }
  .panel-login {
    margin: 10px;
  }
  .panel-login .gambar {
    display: none;
  }
  .panel-login .login-container {
    width: 100%;
  }
}
.card-menu {
  width: 10em;
  margin-top: 1em;
  margin-right: 1em;
  border: 1px solid #eee;
  background-color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.card-menu img {
  width: 100%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-menu:hover {
  background-color: #ffcebe;
}
.card-menu .content {
  padding: 0.5em;
}
.card-menu .content .namamenu {
  font-size: 0.8rem;
}
.card-menu .content .harga {
  font-size: 1rem;
  font-weight: bold;
  color: #fc541c;
  margin-bottom: 0;
}

.detail-menu {
  width: 100%;
}
.detail-menu img {
  width: 100%;
  height: 20em;
}
.detail-menu .nama-menu {
  margin-top: 0.5em;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.detail-menu .deskripsi {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 0;
}
.detail-menu .harga-menu {
  font-size: 1rem;
  color: #fc541c;
  font-weight: bold;
  margin-bottom: 0;
}

.text-total {
  display: flex;
  height: 3em;
  background-color: #ffcebe;
  justify-content: center;
  align-items: center;
}
.text-total p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.fs-small {
  font-size: 0.8rem;
}