.dropify-wrapper .dropify-message p {
    font-size: 16px !important;
}


.pv-archiveText {
    /*width: 250px;*/
}
.pv-archiveText p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
